body{
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(133, 182, 245, 0.5);
}

#app{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 2px 2px 25px 2px rgb(12, 12, 12);
  background-color: rgb(253, 124, 115);
}
#heading{
  color: aliceblue;
  
}
#count{
  background-color: antiquewhite;
  padding: 20px 100px;
  border-radius: 10px;
}
#Countbuttons{
  margin: 30px;
}
#bone{
  color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  background: green;
  box-shadow: 2px 2px 2px black;
}
#bone:hover{
  background-color: darkblue;
}
#btwo{
  color: rgb(24, 23, 23);
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
   box-shadow: 2px 2px 2px black;
   background-color: rgb(247, 247, 9);

}
#btwo:hover{
  color: white;
  background-color: rgb(26, 25, 24);
}