body{
    background-color: rgb(146, 184, 201);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    position: relative;
    top: 200px;
    text-align: center;
    width: 360px;
    height: 400px;
    position: relative;
    border-radius: 20px;
    padding-top: 10px;
    box-shadow: 2px 5px 10px; 
    background-color: rgb(250, 162, 111);
}
.box{
    position: relative;
    bottom: 20px;
}
h1{
    background-color: rgb(248, 245, 243);
}
label{
    font-size: larger;
}
input{
    margin-left: 30px;
    padding: 10px;
    margin-top: 20px;
}
#pass{
    position: relative;
    right: 20px;
}
#one{
    position: relative;
    top:10px ;
    left: 90px;
}
#two{
    position: relative;
    bottom: 50px;
    right: 50px;
}
button{
    padding: 10px 40px;
    position: relative;
    bottom: 40px;
    background-color: cadetblue;
    border-radius: 10px;
}
@media  screen and (max-width:468px) {
    .form{
        width: 360px;
        height: 400px;
    }
    
}
@media  screen and (max-width:968px) {
    .form{
        width: 360px;
        height: 400px;
    }
    
}